<p>Xin chào {{ name }}</p>
<p>Vui lòng làm theo hướng dẫn</p>
{{!-- link to active --}}
{{#if active}}
  <a href="{{ link }}">Kích hoạt tài khoản</a>
{{/if}}
{{!-- link to reset --}}
{{#if reset}}
  <a href="{{ link }}">Đặt lại mật khẩu</a>
{{/if}}
